.checkbox {
  margin: 0.5rem 0;
  height: max-content;
  padding: 0.5rem;
}

.checkbox input[type='checkbox'] {
  display: none;
  appearance: none;
  padding: 0;
}

.checkbox label {
  padding: 0.5rem 1rem;
  width: max-content;
  border: 0.5px solid var(--light-color);
  color: var(--light-color);
  cursor: pointer;
  display: block;
}

.checkbox input[type='checkbox']:checked ~ label {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 600;
}

