.category-data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-data table {
  border-collapse: collapse;
  width: 60%;
  text-align: center;
}

.category-data table, .category-data th, .category-data td {
  border: 1px solid var(--light-color);
  padding: 0.5rem;
}

.category-data td:nth-child(2) {
  width: 80%;
}

.update-input {
  padding: 0.5rem;
  border: 0.5px solid var(--light-color);
  outline: none;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.update-input:focus {
  border: 0.5px solid var(--primary-color);
}

.action-cell {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.update-btn {
  padding: 0.5rem;
  font-size: 1rem;
}

