:root {
  --content-width: 70%;
  --primary-color: #2d83f5;
  // --success-color: #018d13;
  --success-color: #00c000;
  --success-dark-color: #018c01;
  --secondary-color: #777;
  --info-text: #156bdb;
  --normal-color: #333;
  --warning-color: #ffc302;
  --warning-dark-color: #e3b006;
  --info-color: #00a8eb;
  --info-dark-color: #0286ba;
  // --danger-color: #ee2260;
  --danger-color: #e40d4d;
  --danger-dark-color: #d20d49;
  --light-color: #ccc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
  width: var(--content-width);
  margin: 0 auto;
}

button.btn {
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.3rem;
}

button.btn-success {
  background-color: var(--success-color);
}

button.btn-info {
  background-color: var(--info-color);
}

button.btn-danger {
  background-color: var(--danger-color);
}

button.btn-warning {
  background-color: var(--warning-color);
}
button:disabled {
  background-color: var(--light-color);
  cursor: not-allowed;
}

.error-text,
.danger-text {
  font-size: 1rem;
  font-weight: 600;
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}
