@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root {
  --content-width: 70%;
  --primary-color: #2d83f5;
  // --success-color: #018d13;
  --success-color: #01b001;
  --success-dark-color: #027d02;
  --secondary-color: #777;
  --info-text: #156bdb;
  --normal-color: #333;
  --warning-color: #ffc302;
  --warning-dark-color: #e3b006;
  --info-color: #00a8eb;
  --info-dark-color: #0286ba;
  // --danger-color: #ee2260;
  --danger-color: #e40d4d;
  --danger-dark-color: #d20d49;
  --light-color: #ccc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
}

.content {
  width: var(--content-width);
  margin: 0 auto;
}

.btn {
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.3rem;
}

button.btn:hover {
  box-shadow: 0 0 1.5rem var(--light-color);
}

button.btn-success {
  background-color: var(--success-color);
}

button.btn-info {
  background-color: var(--info-color);
}

button.btn-danger {
  background-color: var(--danger-color);
}

button.btn-warning {
  background-color: var(--warning-color);
}
button:disabled {
  background-color: var(--light-color);
  cursor: not-allowed !important;
}

.error-text,
.danger-text {
  font-size: 1rem;
  font-weight: 600;
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}

.posr {
  position: relative;
}

.line {
  position: relative;
  width: 100%;
}

.line::before {
  position: absolute;
  content: '';
  height: 1px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--light-color);
  width: 100%;
}

.line::after {
  position: absolute;
  content: attr(content);
  padding: 0 0.8rem;
  background-color: #fff;
  width: max-content;
}

.line.content-center::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line.content-left:after {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.fw-bold {
  font-weight: bold;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.text-success {
  color: var(--success-color);
}

.no-underline {
  text-decoration: none !important;
}

.btn-outline.btn-success {
  border: 1px solid var(--success-color);
  color: var(--success-color);
  background-color: #fff;
}

.btn-outline {
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}