.movie-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.movie-add-action > button {
  padding: 0.7rem 1rem;
  background-color: var(--success-color);
  font-size: 1rem;
}

.movie-search-action {
  position: relative;
  width: max-content;
  display: flex;
  align-items: center;
  border-radius: 2.3rem;
  width: 30% !important;
}

.movie-search-action input {
  padding: 0.7rem 1rem;
  outline: none;
  font-size: 0.9rem;
  border-radius: inherit;
  flex: 1;
}

.movie-search-action button {
  padding: 0.5rem 1rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem 0;
}

.form-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
}

.form-info input:focus,
.movie-search-action input:focus {
  border: 0.2px solid var(--primary-color);
}

.showtimes-option {
  margin: 0.5rem 0;
  height: max-content;
  padding: 0.5rem;
}

.showtimes-option .input-group {
  width: 60%;
}

.showtimes-option input[type='checkbox'] {
  display: none;
  appearance: none;
  padding: 0;
}
.showtimes-option label {
  padding: 0.5rem 1rem;
  width: max-content;
  border: 0.5px solid var(--light-color);
  color: var(--light-color);
  cursor: pointer;
  display: block;
}
.showtimes-option input[type='checkbox']:checked ~ label {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 600;
}

.show-times-container {
  width: 100%;
}

#showtime-modal .modal-box {
  width: 60%;
}

.show-times-header {
  font-size: 1.2rem;
  font-weight: bold;
  border-top: 0.5px solid var(--light-color);
  padding: 1rem;
}
