.room-data {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}

.room-data table,
.room-data th,
.room-data td {
  border: 1px solid var(--light-color);
  border-collapse: collapse;
  padding: 0.5rem;
}

.room-data th {
  background-color: var(--light-color);
}

.room-data table.room-table {
  width: max-content;
}

.room-data table.room-table td {
  text-align: center;
}

.room-data table.room-table td button {
  padding: 0.7rem 1.3rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  border: 2px solid #fff;
}

.room-action-delete-btn:disabled {
  position: relative;
  color: var(--secondary-color);
}

.room-action-delete-btn:disabled:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.room-data .showtimes-detail {
  flex: 1;
}

.room-data .showtimes-detail .detail-header {
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--info-color);
  padding: 0 0 1rem;
}

.showtime-by-date {
  margin-bottom: 1rem;
}

.showtime-date {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 0 0.5rem;
  padding: 0 0 1rem;
  display: flex;
  align-items: center;
}

.showtime-info-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.showtime-info-item {
  width: max-content;
  padding: 0.3rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.showtime-info-item-label {
  font-size: 1rem;
  color: var(--primary-color);
  padding: 0.7rem 1.3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: max-content;
  border: 2px solid var(--primary-color);
}

.showtime-info-item-label:hover {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.showtime-info-item-info-btn {
  color: var(--secondary-color) !important;
  border-radius: 0;
  font-size: 1.2rem;
}

.showtime-info-item-info-btn:hover {
  color: var(--info-color) !important;
}

.message-field-title {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 1rem;
}

.message-field {
  padding: 0.5rem;
  width: 100%;
  border: 1px solid var(--info-color);
  font-size: 1rem;
  border-radius: 0.5rem;
}
.message-field p {
  padding: 0.5rem;
}

.showtime-info-item-add-btn {
  padding: 0.5rem;
  font-size: 1rem;
  height: max-content;
}