.form-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
}

.form-info input {
  width: 100%;
  padding: 0.7rem 1rem;
  outline: none;
  border-radius: 1rem;
  border: 0.2px solid var(--light-color);
}

.form-info input:focus {
  border: 0.2px solid var(--primary-color);
}